{%- liquid
  assign theme_st = settings
  assign section_st = section.settings
  assign block_st = block.settings
  assign color_scheme = block_st.color_scheme
  assign column = 1
  assign padding = 0
  assign content_width = block_st.content_width | remove: '%' | times: 1
  if content_width < 100
    assign column = 100 | divided_by: content_width
    assign padding = block_st.content_padding_block
  endif
  if section_st.items_per_row_mobile == 1
    assign w_mobile = 'w-full'
  elsif section_st.items_per_row_mobile == 2
    assign w_mobile = 'w-50-percent'
  endif
  assign section_width = section_st.section_width
  assign items_per_row_mobile = section_st.items_per_row_mobile
  assign column_gap = section_st.column_gap
  assign media_type = block_st.media_type | default: 'image'
  assign content_type = block_st.content_type
%}
<div
  class="{% if section_st.equal_height_adjustment == false %} align-self-{{ section_st.vertical_align }}{% endif %} {% if block_st.collection.products.size > 0 %}background-block {% endif %}section__block {{ theme_st.hover_effect }} {{ w_mobile }} col-md-w-custom {% if block_st.content_width == '20%' or block_st.content_width == '25%' or block_st.content_width == '66.6666%' or block_st.content_width == '75%' or block_st.content_width == '80%' %} col-md-w-custom-50{% endif %}"
  style="--col-width: {{ block_st.content_width }};"
  {{ block.shopify_attributes }}
>
  {% liquid
    assign image = block_st.image
    assign mobile_image = block_st.mobile_image | default: image
    assign video_local = block_st.video_local
    assign poster = block_st.video_poster | default: block_st.video_local.preview_image | image_url: width: 1100
    if media_type == 'image'
      if block_st.image != blank
        assign aspect_ratio = block_st.image.aspect_ratio
      else
        assign aspect_ratio = '5/2'
      endif

      if block_st.mobile_image
        assign mobile_aspect_ratio = block_st.mobile_image.aspect_ratio
      endif
    else
      if block_st.video_ratio == 'adapt'
        if block_st.video_local != null
          assign aspect_ratio = block_st.video_local.aspect_ratio
        elsif poster != null
          assign aspect_ratio = block_st.video_poster.aspect_ratio
        else
          assign aspect_ratio = '3/2'
        endif
      else
        assign aspect_ratio = block_st.video_ratio
      endif
    endif
    assign autoplay = block_st.autoplay
    assign video_id = block_st.video_url.id | default: block_st.video_url.id
  %}
  {% style %}
    {% if block_st.image_curved and block_st.media_type == 'image' %}
      @media screen and (min-width: 768px) {
        .image-curved {
          -webkit-clip-path: circle(63.5% at 30% 50%);
          clip-path: circle(63.5% at 30% 50%);
        }
      }
    {% endif %}
  {% endstyle %}
  <div
    class="section__block-inner gradient{% if content_width < 75 %} hover-effect{% endif %} color-{{ color_scheme }} flex flex-md-row flex-column relative{% if section_st.equal_height_adjustment %} h-full{% endif %} rounded overflow-hidden"
  >
    <div
      class="banner__media w-full col-md-w-custom {% if section.blocks.size == 2 and column_gap == 0 %} remove-rounded{% endif %} rounded{% if block_st.image_curved and block_st.media_type == 'image' %} image-curved{% endif %}"
      style="--aspect-ratio: {{ aspect_ratio }};{% if mobile_aspect_ratio %}--aspect-ratio-mb: {{ mobile_aspect_ratio }};{% endif %};--col-width: {{ block_st.banner_width }}%"
    >
      {% if media_type == 'image' %}
        {%- if image != blank or mobile_image != blank -%}
          {%- assign image_alt = image.alt | escape | default: 'Images' -%}
          {% render 'responsive-image',
            type: 'banner',
            container: section_width,
            colunm: column,
            padding: padding,
            colunm_mobile: items_per_row_mobile,
            image: image,
            image_mobile: mobile_image,
            image_alt: image_alt
          %}
        {%- else -%}
          {%- render 'placeholder-render' -%}
        {% endif %}
      {% else %}
        <video-section
          class="block absolute h-full{% if section.blocks.size == 2 and column_gap == 0 %} remove-rounded{% endif %} rounded overflow-hidden{% if section_st.equal_height_adjustment %} h-full object-fit-cover object-position-center{% endif %}"
          style="--aspect-ratio: {{ aspect_ratio }};"
        >
          {% if video_local != null %}
            {{
              video_local
              | video_tag:
                poster: poster,
                loop: 'loop',
                muted: true,
                playsinline: true,
                autoplay: autoplay,
                controls: false
            }}
          {% elsif block_st.video_url != null %}
            {%- liquid
              assign loop = '&loop=1&playlist=' | append: video_id
            -%}
            {%- if block_st.video_url.type == 'youtube' -%}
              <iframe
                src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&controls=0&autoplay={% if autoplay %}1&mute=1{% else %}0&mute=0{% endif %}&playsinline=1&loop=1&playlist={{ video_id }}"
                class="js-youtube"
                allow="autoplay; encrypted-media"
                allowfullscreen
              ></iframe>
            {%- else -%}
              <iframe
                src="https://player.vimeo.com/video/{{ video_id }}?autoplay={% if autoplay %}1&mute=1{% else %}0&mute=0{% endif %}{{ loop }}"
                class="js-vimeo"
                allow="autoplay; encrypted-media"
                allowfullscreen
              ></iframe>
            {% endif %}
          {% else %}
            {%- render 'placeholder-render', class: 'rounded w-full h-full object-fit-cover' -%}
          {% endif %}
        </video-section>
      {% endif %}
    </div>
    <div class="sec__content__wrapper flex-1">
      <div
        class="sec__content w-full h-full"
        style="--padding-inline: {{ block_st.content_padding_inline }};--padding-block: {{ block_st.content_padding_block }};"
      >
        <div class="sec__content-inner text-{{ block_st.content_alignment }} flex flex-column align-{{ block_st.content_alignment }} py-custom px-custom relative{% if block_st.content_padding_inline < 35 %} x-min-value{% endif %}{% if block_st.content_padding_block < 35 %} y-min-value{% endif %}{% if block_st.content_below_image or content_type == 'below' %} w-full{% endif %}">
          {% content_for 'blocks' %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:blocks.names.group_content",
  "tag": null,
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "t:sections.all.content_setting.width.label",
      "default": "50%",
      "options": [
        {
          "value": "20%",
          "label": "20%"
        },
        {
          "value": "25%",
          "label": "25%"
        },
        {
          "value": "33.3333%",
          "label": "33%"
        },
        {
          "value": "50%",
          "label": "50%"
        },
        {
          "value": "66.6666%",
          "label": "66%"
        },
        {
          "value": "75%",
          "label": "75%"
        },
        {
          "value": "80%",
          "label": "80%"
        },
        {
          "value": "100%",
          "label": "100%"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.featured-product.settings.media.header"
    },
    {
      "type": "range",
      "id": "banner_width",
      "label": "t:sections.featured-product.settings.media.media_width",
      "min": 30,
      "max": 50,
      "step": 1,
      "default": 50,
      "unit": "%"
    },
    {
      "type": "select",
      "default": "image",
      "id": "media_type",
      "options": [
        {
          "value": "image",
          "label": "t:settings.media_type.image"
        },
        {
          "value": "video",
          "label": "t:settings.media_type.video"
        }
      ],
      "label": "t:settings.media_type.label"
    },
    {
      "type": "checkbox",
      "id": "image_curved",
      "label": "t:sections.all.image.image_curved.label",
      "default": false,
      "visible_if": "{{ block.settings.media_type == 'image' }}"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.all.image.label",
      "visible_if": "{{ block.settings.media_type == 'image' }}"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "t:sections.all.image.mobile_image.label",
      "visible_if": "{{ block.settings.media_type == 'image' }}"
    },
    {
      "type": "video_url",
      "id": "video_url",
      "accept": ["youtube", "vimeo"],
      "label": "t:sections.all.video.video_url.label",
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
      "info": "t:sections.all.video.video_url.info",
      "visible_if": "{{ block.settings.media_type == 'video' }}"
    },
    {
      "type": "video",
      "id": "video_local",
      "label": "t:sections.all.video.video_local.label",
      "info": "t:sections.all.video.video_local.info",
      "visible_if": "{{ block.settings.media_type == 'video' }}"
    },
    {
      "type": "image_picker",
      "id": "video_poster",
      "label": "t:sections.all.video.video_poster.label",
      "visible_if": "{{ block.settings.media_type == 'video' }}"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "t:sections.all.video.autoplay.label",
      "info": "t:sections.all.video.autoplay.info",
      "default": true,
      "visible_if": "{{ block.settings.media_type == 'video' }}"
    },
    {
      "type": "select",
      "id": "video_ratio",
      "default": "16/9",
      "label": "t:settings.video_ratio",
      "options": [
        {
          "value": "16/9",
          "label": "16/9"
        },
        {
          "value": "21/9",
          "label": "21/9"
        },
        {
          "value": "adapt",
          "label": "t:sections.all.video.adapt_to_video.label"
        }
      ],
      "visible_if": "{{ block.settings.media_type == 'video' }}"
    },

    {
      "type": "header",
      "content": "t:sections.all.contents.label"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "t:sections.all.content_settings.content_alignment.label",
      "default": "start",
      "options": [
        {
          "value": "start",
          "label": "t:sections.all.content_settings.content_alignment.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.content_settings.content_alignment.center.label"
        },
        {
          "value": "end",
          "label": "t:sections.all.content_settings.content_alignment.right.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "content_padding_block",
      "min": 10,
      "max": 60,
      "step": 1,
      "unit": "px",
      "default": 30,
      "label": "t:sections.all.content_settings.content_padding_block.label"
    },
    {
      "type": "range",
      "id": "content_padding_inline",
      "min": 10,
      "max": 60,
      "step": 1,
      "unit": "px",
      "default": 30,
      "label": "t:sections.all.content_settings.content_padding_inline.label"
    }
  ],
  "blocks": [
    {
      "type": "heading"
    },
    {
      "type": "subheading"
    },
    {
      "type": "button"
    },
    {
      "type": "description"
    },
    {
      "type": "icon"
    }
  ],
  "presets": [
    {
      "name": "t:blocks.names.group_content",
      "blocks": [
        {
          "type": "subheading"
        },
        {
          "type": "heading"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
